<h1>Users(<%= @users.count %>)</h1>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.times_logged_in %> times logged in</td>
        <td>
          <% if user.beta_user%>
            Beta User
          <% end %> 
        </td>
        <td><%= user.reviewed_sa %> sa reviewed</td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= link_to "Destroy", user, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="actions">
  <%= link_to 'New User', new_user_path %>
  |
  <%= link_to 'Source repos', source_repos_path %>
  |
  <%= link_to 'Reports', reports_path %>
</div>
