<% if is_admin? %>
  <%= link_to "Users", users_path %> >
  <%= @user.name %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <br/>
  <strong>Email:</strong>
  <%= @user.email %>
  <br />
  <strong>Ruby applications</strong>
  <ul>
  <% @user.ruby_applications.each do |ra| %>
    <li>
      <%= link_to ra.name, ruby_application_path(ra) %> |
      <%= link_to "Edit", edit_ruby_application_path(ra) %> |
      <%= link_to "Destroy", ra, method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
  </ul>
  <br>
  <%= link_to 'New ruby application', new_ruby_application_path %>
</p>

