<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <br/>
  <strong>Email:</strong>
  <%= @user.email %>
  <br />
  <strong>Ruby applications</strong>
  <ul>
  <% @user.ruby_applications.each do |ra| %>
    <li>
      <%= link_to ra.name, ruby_application_path(ra) %>
    </li>
  <% end %>
  </ul>
  <br>
  <% if CONFIG['GITHUB_INTEGRATION'] %>
    <strong>Repos in github</strong>
    <ul>
    <% @user.repos.each do |r| %>
        <li>
         <%= r.name %>
        </li>
    <% end %>
    </ul>
    <br>
    <%= link_to "Import repos", user_path(@user) + "/import_repos" %>
    <br>
  <% end %>
  <strong>API access token: </strong>
  <%= @user.api_access_token %>
  <br/>
  <%= link_to "Regenerate access token", user_path(@user) + "/generate_access_token" %>
  <br>
</p>

