<p>
  <strong>Name:</strong>
  <%= @ruby_application.name %>
  <br/>
  <strong>Filename:</strong>
  <%= @ruby_application.filename %>
  <br/>
  <strong>Gems url:</strong>
  <%= @ruby_application.gems_url %>
  <br/>
  <strong>gems:</strong>
  <ul>
    <% @ruby_application.ruby_gems.each do |rg| %>
      <li><%= rg.name %> <%= rg.version %> <%= rg.license %></li>
    <% end %>
  </ul>
</p>
  <div id="actions">
    <%= link_to "Edit", edit_ruby_application_path(@ruby_application) %> |
    <%= link_to "Destroy", @ruby_application, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
