<p id="notice"><%= notice %></p>
<% if is_admin? %>
  <%= link_to "Users", users_path %> >
<% end %>
<%= link_to @ruby_application.user.name, user_path(@ruby_application.user) %> >
<%= @ruby_application.name %>

<p>
  <strong>Name:</strong>
  <%= @ruby_application.name %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @ruby_application.filename %>
</p>

<p>
  <strong>Gems url:</strong>
  <%= @ruby_application.gems_url %>
</p>
<p>
  <strong>gems:</strong>
  <ul>
    <% @ruby_application.ruby_gems.each do |rg| %>
      <li><%= rg.name %> <%= rg.version %> <%= rg.license %></li>
        <table>
          <% @ruby_application.security_alerts.where("ruby_gem_id == '?'", rg.id).each do |sa| %>
            <% next if sa.version_fix && sa.version_fix != "" && Gem::Version.new(sa.version_fix) < Gem::Version.new(rg.version) %>
            <% next if SecurityAlert::STATUS_CODES[sa.status] == "Ignored" %>
            <% next if SecurityAlert::STATUS_CODES[sa.status] == "Refused" %>
            <tr>
              <td><%= link_to sa.short_desc, security_alert_path(sa) %></td>
              <td>Status: <%= sa.status_text %></td>
              <td>Fixed in: <%= sa.version_fix %></td>
            </tr>
          <% end %>
        </table>
    <% end %>
  </ul>
</p>
