<% if current_user && !beta_user? %>
  Sorry. This is limited to beta_users.
  If you'd like to be a beta user, <a href="https://docs.google.com/forms/d/1wIo2dhUn34n-9Tm04mkUnoaV7aB_RXFnm5MVGZ0CS8g/viewform">contact us</a>.

<% elsif current_user %>
  <p>Hi <%= current_user.name %>, welcome to <span class="alert"><%= request.host %></a></p>
  <% if !@security_alerts %>
    There are no security alerts.
  <% else %>
    <p>
    Here you have a list of possible security alerts for your ruby applications:
    </p>
    <table width="100%">
      <tr>
        <th>Ruby application</th>
        <th>Gem</th>
        <th>Version</th>
        <th>Security alert</th>
        <th>Status</th>
        <th>Fixed in</th>
      </tr>
      <% @security_alerts.each do |sa| %>
        <tr>
          <td>
            <%= link_to sa.ruby_application.name, ruby_application_path(sa.ruby_application) %>
          </td>
          <td>
            <%= sa.ruby_gem.name %>
          </td>
          <td>
            <%= sa.ruby_gem.version %>
          </td>
          <td>
            <%= link_to "#{sa.short_desc}", security_alert_path(sa) %>
          </td>
          <td>
            <%= sa.status_text %>
          </td>
          <td>
            <% if !sa.version_fix.nil? && !sa.version_fix.blank? %>
              <%= sa.version_fix %> 
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <div id="actions">
  <%= link_to 'New ruby application', new_ruby_application_path %>
  </div>
<% end %>
