<%= form_for(@security_alert) do |f| %>
  <% if @security_alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@security_alert.errors.count, "error") %> prohibited this security alert from being saved:</h2>

      <ul>
      <% @security_alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %>
    <% values = SecurityAlert::STATUS_CODES.to_a.map {|x| x.reverse} %>
    <%= f.select(:status, options_for_select(values, @security_alert.status)) %>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :version_fix %>
    <%= f.text_field :version_fix %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<p>
  ---------------
  <br/>
 What others have said:
</p>
<p>
<% @security_alert.ruby_gem.security_alerts.where("desc = '#{@security_alert.desc}' and id != '#{@security_alert.id}'").each do |sa| %>
  <%= sa.status_text %>
  <%= sa.comment %><br/>
  Fixed in:
  <%= sa.version_fix %>
  <br/>
  ---------------<br/>
<% end %>
</p>
