<p>
  <strong>Desc:</strong>
  <%= @security_alert.desc %>
</p>
<p>
<%= render 'form' %>
</p>
<p>
  ---------------
  <br/>
 What others have said:
</p>
<p>
<% SecurityAlert.where("desc = '#{@security_alert.desc}' and id != '#{@security_alert.id}'").each do |sa| %>
  <% next if sa.status == 0 %>
  <%= sa.status_text %>
  <%= sa.comment %> 
  <% if sa.version_fix && sa.status == 1 %>
    Fixed in:
    <%= sa.version_fix %>
  <% end %>
  <br/>
  ---------------<br/>
<% end %>
</p>
