<p>
  <strong>Desc:</strong>
  <%= @security_alert.desc %>
</p>
<p>
<%= render 'form' %>
</p>
<p>
  ---------------
  <br/>
 What others have said:
</p>
<p>
<% SecurityAlert.where("desc = '#{@security_alert.desc}' and id != '#{@security_alert.id}'").each do |sa| %>
  <%= sa.status_text %>
  <%= sa.comment %><br/>
  Fixed in:
  <%= sa.version_fix %>
  <br/>
  ---------------<br/>
<% end %>
</p>
