<%= link_to "Users", users_path %> > 
<%= link_to @security_alert.ruby_application.user.name, user_path(@security_alert.ruby_application.user) %> >
<%= link_to @security_alert.ruby_application.name, ruby_application_path(@security_alert.ruby_application) %> >
<%= @security_alert.short_desc %>
<p>
<%= render 'form' %>
</p>
<p>
What others have selected:
</p>
<p>
<% @security_alert.ruby_gem.security_alerts.each do |sa| %>
  <% next if @security_alert == sa %>
  <% next if @security_alert.desc != sa.desc %>
  <%= sa.ruby_application.user.name %>:
  <%= sa.ruby_application.name %> = 
  <%= sa.status_text %>
  <br/>
<% end %>
</p>
