<p>
  <strong>Key:</strong>
  <%= @security_alert.sec_key %>
  <br>
  <strong>Desc:</strong>
  <%= @security_alert.desc %>
  <br>
  <strong>Status:</strong>
  <%= @security_alert.status_text %>
  <br>
  <strong>Version fix:</strong>
  <%= @security_alert.version_fix %>
  <br>
  <strong>Comment</strong>
  <%= @security_alert.comment %>
</p>
  <% if !is_from_security_team? %>
    <div id="action">
      <%= link_to "edit", edit_security_alert_path(@security_alert) %>
    </div>
  <% end %>
<p>
  ---------------
  <br/>
 What others have said:
</p>
<p>
<% SecurityAlert.where("desc = '#{@security_alert.desc}' and id != '#{@security_alert.id}'").each do |sa| %>
  <% next if sa.status == 0 %>
  <%= sa.status_text %>
  <%= sa.comment %> 
  <% if sa.version_fix && sa.status == 1 %>
    Fixed in:
    <%= sa.version_fix %>
  <% end %>
  <br/>
  ---------------<br/>
<% end %>
</p>
