<% if is_admin? %>
  <%= link_to "Users", users_path %> > 
<% end %>
<% if is_from_security_team? %>
  <%= @security_alert.ruby_application.user.name %> >
  <%= @security_alert.ruby_application.name %> >
  <%= @security_alert.short_desc %>
<% else %>
  <%= link_to @security_alert.ruby_application.user.name, user_path(@security_alert.ruby_application.user) %> >
  <%= link_to @security_alert.ruby_application.name, ruby_application_path(@security_alert.ruby_application) %> >
  <%= @security_alert.short_desc %>
<% end %>

<p>
  <strong>Desc:</strong>
  <%= @security_alert.desc %>
</p>

<p>
  <strong>Status:</strong>
  <%= @security_alert.status_text %>
</p>
<p>
  <strong>Version fix:</strong>
  <%= @security_alert.version_fix %>
</p>
<p>
  <strong>Comment</strong>
  <%= @security_alert.comment %>
</p>
  <% if !is_from_security_team? %>
    <%= link_to "edit", edit_security_alert_path(@security_alert) %>
  <% end %>
