<!DOCTYPE html>
<html>
<head>
  <title>GemsStatusWeb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  Logged in as 
  <%= current_user.name %> |
  <%= link_to "logout", session_path("current"), method: "delete" %>
<% end %>

<%= yield %>
<p>
--------------------<br/>
Source code: <a href="http://www.github.com/jordimassaguerpla/gems-status-web">http://www.github.com/jordimassaguerpla/gems-status-web</a>
</p>
<p>
Analysis done by <a href="http://www.github.com/jordimassaguerpla/gems-status/">gems status <%= GemsStatus::VERSION %></a>
<br/>
<% if LastRun.last %>
  Last run <%= LastRun.last.created_at %>
  <br/>
  Run <%= LastRun.count %> times since <%= LastRun.first.created_at %>
<% end %>
</p>
</body>
</html>
